# 忽略 node_modules 和 target 目录
node_modules/
target/

# 密钥
codingoj-backend/src/main/resources/certs/

# 忽略配置文件（防止提交敏感信息）
codingoj-backend/src/main/resources/application.yml
codingoj-backend/src/main/resources/application-test.yml
codingoj-backend/src/main/resources/application-prod.yml

**/application.yml
**/application-dev.yml
**/application-prod.yml
**/application-test.yml

**/application.yaml
**/application-dev.yaml
**/application-prod.yaml
**/application-test.yaml

# 环境变量文件
.env
.env.*

# IDE 自动生成的文件
.mvn/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统自动生成的文件
.DS_Store
Thumbs.db

# Maven 编译缓存
build/

# 日志文件
*.log
*.log.*
logs/
log/

# 本地开发可能生成的临时文件
tmp/
temp/