<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longoj.top.mapper.MqLocalMessageMapper">

    <resultMap id="BaseResultMap" type="com.longoj.top.model.entity.MqLocalMessage">
            <id property="messageId" column="message_id" jdbcType="VARCHAR"/>
            <result property="exchangeName" column="exchange_name" jdbcType="VARCHAR"/>
            <result property="routingKey" column="routing_key" jdbcType="VARCHAR"/>
            <result property="payload" column="payload" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="retryCount" column="retry_count" jdbcType="INTEGER"/>
            <result property="errorCause" column="error_cause" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id,exchange_name,routing_key,
        payload,status,retry_count,
        error_cause,created_at,updated_at
    </sql>
</mapper>
