<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longoj.top.mapper.UserCheckInMapper">
    <resultMap id="BaseResultMap" type="com.longoj.top.model.entity.UserCheckIn">
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="yearMonth" column="year_month" jdbcType="VARCHAR"/>
        <result property="bitmap" column="bitmap" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, `year_month`, bitmap, create_time, update_time
    </sql>

    <select id="isExist" resultType="java.lang.Boolean">
        SELECT COUNT(1)
        FROM user_check_in
        WHERE user_id = #{userId} AND `year_month` = #{yearMonth};
    </select>

    <insert id="save">
        INSERT
        INTO user_check_in
            (user_id, `year_month`, bitmap, create_time, update_time)
        VALUES(#{userId}, #{yearMonth}, 0, NOW(), NOW())
    </insert>

    <update id="updateUserCheckInByOneDay">
    <![CDATA[
        UPDATE user_check_in
        SET bitmap = bitmap | (1 << #{day}-1),
            update_time = NOW()
        WHERE user_id = #{userId} AND `year_month` = #{yearMonth}
        ]]>
</update>

    <select id="getUserCheckInByUserIdAndYearMonth" resultType="com.longoj.top.model.entity.UserCheckIn">
        select <include refid="Base_Column_List"/>
        FROM user_check_in
        WHERE user_id = #{userId} AND `year_month` = #{yearMonth};
    </select>

    <select id="queryUserSignTotalCount" resultType="java.lang.Integer">
        SELECT
            BIT_COUNT(bitmap) AS checked_days
        FROM user_check_in
        WHERE user_id = #{userId} AND `year_month` = #{yearMonth};
    </select>

    <select id="checkUserSignInByOneDay" resultType="java.lang.Boolean">
    <![CDATA[
        SELECT (bitmap & (1 << #{day}-1)) != 0 AS is_checked
        FROM user_check_in
        WHERE user_id = #{userId} AND `year_month` = #{yearMonth};
        ]]>
    </select>

</mapper>
