<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longoj.top.mapper.UserSubmitSummaryMapper">
    <resultMap id="BaseResultMap" type="com.longoj.top.model.entity.UserSubmitSummary">
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="yearMonthDay" column="year_month_day" jdbcType="VARCHAR"/>
        <result property="submitCount" column="submit_count" jdbcType="INTEGER"/>
        <result property="acceptCount" column="accept_count" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, year_month_day, submit_count, accept_count, update_time
    </sql>

    <insert id="addSubmitSummary">
        INSERT
        INTO user_submit_summary
            (user_id, year_month_day, submit_count, accept_count, update_time)
        VALUES(#{userId}, #{yyyyMMDD}, 0, 0, NOW())
    </insert>


    <update id="updateSubmitSummary">
        UPDATE user_submit_summary
        SET submit_count = submit_count + #{submitCount}, accept_count = accept_count +  #{acceptedCount}
        WHERE user_id = #{userId} AND year_month_day = #{yyyyMMDD}
    </update>

    <select id="querySubmitSummary" resultType="com.longoj.top.model.entity.UserSubmitSummary">
        SELECT <include refid="Base_Column_List"/>
        FROM user_submit_summary
        WHERE user_id = #{userId} AND year_month_day = #{yyyyMMDD}
    </select>

    <select id="selectUserPassedCountsByTopNumber"
            resultType="com.longoj.top.model.dto.questionsubmit.UserPassedCountDTO">
        SELECT
            user_id AS userId,
            SUM(accept_count) AS passedCount,
            SUM(submit_count) AS submitCount
        FROM
            user_submit_summary
        GROUP BY
            user_id
        ORDER BY
            passedCount DESC, submitCount DESC
        LIMIT #{topNumber}
    </select>


</mapper>
