<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longcoding.top.mapper.InterviewRecordsMapper">

    <resultMap id="BaseResultMap" type="com.longcoding.top.model.entity.InterviewRecords">
            <id property="interviewId" column="interview_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="mealId" column="meal_id" jdbcType="INTEGER"/>
            <result property="interviewType" column="interview_type" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="durationSeconds" column="duration_seconds" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        interview_id,user_id,meal_id,
        interview_type,start_time,end_time,
        duration_seconds,status,create_time,
        update_time
    </sql>
</mapper>
