<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longcoding.top.mapper.MealMapper">

    <resultMap id="BaseResultMap" type="com.longcoding.top.model.entity.Meal">
            <id property="mealId" column="meal_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="maxInterviewsPerDay" column="max_interviews_per_day" jdbcType="INTEGER"/>
            <result property="maxDurationPerInterview" column="max_duration_per_interview" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        meal_id,name,description,
        price,max_interviews_per_day,max_duration_per_interview,
        create_time,update_time
    </sql>
</mapper>
