<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longcoding.top.mapper.UserResumeInfoMapper">

    <resultMap id="BaseResultMap" type="com.longcoding.top.model.entity.UserResumeInfo">
            <id property="userResumeId" column="user_resume_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="positionName" column="position_name" jdbcType="VARCHAR"/>
            <result property="responsibilities" column="responsibilities" jdbcType="VARCHAR"/>
            <result property="resumeInformation" column="resume_information" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_resume_id,user_id,position_name,
        responsibilities,resume_information,create_time,
        update_time
    </sql>
</mapper>
